[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "third_party/tomlplusplus"]
	path = third_party/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/inja"]
	path = third_party/inja
	url = https://github.com/pantor/inja
[submodule "third_party/xxHash"]
	path = third_party/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "tp_zydis"]
	path = third_party/zydis
	url = https://github.com/zyantific/zydis
[submodule "tp_spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
